@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#navbar{
   display: flex;
   justify-content:center; 
   float:unset;
   width: 100%;
   background-color: rgba(31, 31, 31, 0.493);
   z-index: +2;
   position: fixed;
   top: auto;
}
.container{
    width: 1600px;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    align-items: center;
    z-index: +2;
}
#logo{
    width:300px;
    padding: 6px 0px;
}
#listaul{
    display: flex;
    flex-direction:row;
}

.linkA{
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


#listaul li a:hover{
    color: #FFDE59;
}
#listaul li a:active{
    color: #FFDE59;
}

#hero{
    position: relative;   
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 90vh;
    background: url(assets/img/scratch.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
#texthero{
    color: white;
    font-size: 50px;
    user-select: none;
    width: 600px;
    
}
#about-us{
    display: flex;
    justify-content:center;
}
#about-us-container{
    width: 1200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 40px 5px 40px 5px;
}
.iconsize{
    padding:0px 0px 0px 0px;
     width:250px;
}
.title1{
font-size:30px;
font-weight:bold;
padding:20px 0px 20px 0px;
font-family: 'Roboto', sans-serif;
}
.text-about-us{
    font-size: 22px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}
.boarder{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    width:350px;
}#imgaboutus{
    width: 700px;
    -webkit-box-shadow: 8px 12px 31px -3px rgba(0,0,0,0.68); 
    box-shadow: 8px 12px 31px -3px rgba(0,0,0,0.68);
}
#contato{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
}
#formcontato{
    display: flex;
    flex-direction: column;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
    padding:25px;
    margin:10px 0px 20px 0px
}
#formcontato input,textarea{
    padding:15px;
    font-size: 17px;
    margin: 20px;
}
#mensagem{
    resize:none;
}

footer{
    
    text-align: center;
    color: white;
    background-color: black;
}
footer div h3{
    padding:10px
}